body, html {
    position: relative;
    width: 100%;
    min-height: 100%;
}

#root, #root > div, .App {
    height: 100%;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}
a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.App >* {
    padding-right: 10%;
    padding-left: 10%;
}

form {
     background-color: white;
     padding: 20px 40px;
     padding-top: 10px;
     margin: auto;
     color: black;
     border-radius: 3px;
     box-sizing: border-box;
     width: 500px;
     text-align: center;
}

form h1 {
    font-size: 25px;
    margin-top: 20px;
}

form > *, form input {
    display: block;
    width: 100%;
}

form > * {
    margin: 25px 0;
}

form hr {
    margin: 10px;
}

input[type='text'], input[type='password'], input[type='email'] {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 7px 10px;
    background-color: transparent;
}

.label {
    color: #575757;
    text-align: left;
}

.label:focus-within {
    color: #F50057;
    transition: 0.5s ease-in-out;
}

.label > * {
    margin-top: 10px;
}

input[type='submit'], button {
    background-color: #F50057;
    border: 1px solid #F50057;
    border-radius: 5px;
    font-weight: bold;
    padding: 7px 10px;
    color: white;
}

.flex-container-center, .flex-container-between {
    display: flex;
}

.flex-container-center {
    justify-content: center;
}

.flex-container-between {
    justify-content: space-between;
}

.flex-container-between .label {
    margin: 0;
}

input:focus, button:focus {
    outline: none;
    transition: 0.5s ease;
}

input[type='submit']:hover {
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.5s ease;
}

.label input:focus {
    border-color: #F50057;
    color: #F50057;
    transition: 0.5s ease;
}

.file-dropzone-label {
    flex-grow: 0.8;
}

.file-dropzone {
    display: block;
    background-color: whitesmoke;
    padding: 9px 12px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: left;
    color: grey;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.file-dropzone hr {
    width: 100%;
    margin-left: 0;
    margin-bottom: 4px;
}

.file-dropzone span {
    color: #999999;
    font-style: italic;
}

.file-dropzone:hover, .file-dropzone:focus {
    border-color: #FF4081;
    color: #FF4081;
    transition: 0.2s ease-in-out;
}

input[type='password'] {
    letter-spacing: 0.45px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input[type='checkbox'] {
    display: inline;
    width: auto;
    margin-right: 10px;
    background-color: #FF4081;
}

.error-label {
    color: #EF5350;
}
