a {
    color: inherit !important;
    text-decoration: none !important;
}
a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.App >* {
    padding-right: 10%;
    padding-left: 10%;
}
