nav {
    z-index: 2;
}

nav img {
    height: 33px;
    margin-right: 10px;
}

nav #title {
    color: #FF5252;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

a.nav-link {
    padding: 6px 16px !important;
    margin-left: 10px;
    color: #3d3d3d !important;
    font-weight: 300;
}

a.nav-link.cta {
    border: 1px solid #FF5252;
    color: #FF5252 !important;
    border-radius: 3px;
}

a.nav-link.cta:hover {
    background-color: #FF5252;
    color: white !important;
}

.navbar-brand >* {
    vertical-align: middle;
}
