.horiz {
    padding: 10px 10%;
    color: #525252;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.horiz li {
    display: inline;
    padding: 7px 15px;
    padding-bottom: 10px;
    margin: 5px 0;
    margin-left: 10px;
    float: right;
    vertical-align: middle;
}

.horiz li.left {
    float: left;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    margin: 0;
    color: #FF5252;
}

.horiz li * {
    vertical-align: middle;
}

nav img {
    height: 33px;
    padding-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li.left img {
    height: 35px;
    padding-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.cta {
    background-color: #FF5252;
    color: white;
    border-radius: 5px;
}
